In [47]:
import pandas as pd
import json

In [48]:
df_skill_l2_dict = {
    'Cloud' : "None",
    'Data' : "None",
    'Software Dev' : "None",
}

In [49]:
df_skill_l2 = \
  pd.DataFrame.from_dict(df_skill_l2_dict, orient='index').reset_index().rename(columns={'index':'skill_name', 0:'skill_group_name'})
df_skill_l2

     skill_name skill_group_name
0         Cloud             None
1          Data             None
2  Software Dev             None

In [50]:
df_skill_l3_dict = {
    'Java' : "Software Dev",
    '.NET' : "Software Dev",
    'NodeJS' : "Software Dev",
    "Spark" : "Data",    
    "Hadoop" : "Data",    
    "Power BI" : "Data",       
    "AWS" : "Cloud",
    "Azure" : "Cloud",
    "GCP" : "Cloud"
}

In [51]:
df_skill_l3 = \
  pd.DataFrame.from_dict(df_skill_l3_dict, orient='index').reset_index().rename(columns={'index':'skill_name', 0:'skill_group_name'})
df_skill_l3

  skill_name skill_group_name
0       Java     Software Dev
1       .NET     Software Dev
2     NodeJS     Software Dev
3      Spark             Data
4     Hadoop             Data
5   Power BI             Data
6        AWS            Cloud
7      Azure            Cloud
8        GCP            Cloud

In [52]:
df_skill_l2.to_csv('../static/skills_l2.csv', index=False)
df_skill_l3.to_csv('../static/skills_l3.csv', index=False)

In [53]:
skill_list_l2 = [v for (k, v) in df_skill_l2.to_dict('index').items()]
skill_list_l3 = [v for (k, v) in df_skill_l3.to_dict('index').items()]

In [54]:
skill_list = skill_list_l2 + skill_list_l3

In [55]:
print(skill_list)

[{'skill_name': 'Cloud', 'skill_group_name': 'None'}, {'skill_name': 'Data', 'skill_group_name': 'None'}, {'skill_name': 'Software Dev', 'skill_group_name': 'None'}, {'skill_name': 'Java', 'skill_group_name': 'Software Dev'}, {'skill_name': '.NET', 'skill_group_name': 'Software Dev'}, {'skill_name': 'NodeJS', 'skill_group_name': 'Software Dev'}, {'skill_name': 'Spark', 'skill_group_name': 'Data'}, {'skill_name': 'Hadoop', 'skill_group_name': 'Data'}, {'skill_name': 'Power BI', 'skill_group_name': 'Data'}, {'skill_name': 'AWS', 'skill_group_name': 'Cloud'}, {'skill_name': 'Azure', 'skill_group_name': 'Cloud'}, {'skill_name': 'GCP', 'skill_group_name': 'Cloud'}]

In [56]:
with open("../static/skills.json", "w") as f:
    f.write(json.dumps(skill_list))

In [57]:
SKILL_LEVEL_CHOICES = [('1', '1 - Novice'), ('2', '2 - Beginner'), ('3', '3 - Competent'), ('4', '4 - Proficient'), ('5', '5 - Expert')]

In [60]:
type(SKILL_LEVEL_CHOICES[0])

tuple

In [65]:
# df_skill_l2 = pd.read_csv('../static/skills_l2.csv')
[(s, s) for s in pd.read_csv('../static/skills_l2.csv')['skill_name']]

[('Cloud', 'Cloud'), ('Data', 'Data'), ('Software Dev', 'Software Dev')]

     skill_name skill_group_name
0         Cloud             None
1          Data             None
2  Software Dev             None

[('Cloud', 'Cloud'), ('Data', 'Data'), ('Software Dev', 'Software Dev')]

In [69]:
import os
print(os.path)

<module 'ntpath' from 'C:\\Users\\Kai\\AppData\\Local\\Continuum\\anaconda3\\envs\\django-env\\lib\\ntpath.py'>

In [72]:
df_talent_records = pd.read_csv('../data/talent_info.csv')
df_l2_l3_mapping = pd.read_csv('../data/skills_l3.csv')

In [78]:
df_talent_records = df_talent_records.merge(df_l2_l3_mapping, how='left', left_on='skill', right_on='skill_name').drop(columns='skill_name').rename(columns={'skill_group_name':'skill_group'})

In [80]:
df_talent_records[['name', 'orgnisation', 'email', 'skill_group', 'skill', 'skill_level']]

,name,orgnisation,email,skill_group,skill,skill_level
0,Hailey Stewart,Rodriguez Inc,christinafarmer@wise.info,Software Dev,.NET,4
1,Paul Bailey,Lee-Gilbert,torresangela@gmail.com,Software Dev,.NET,2
2,Catherine Ellis,"Guzman, Sampson and Johnson",jefferyrojas@hotmail.com,Data,Hadoop,1
3,Mary Taylor,"Olson, Wagner and Herring",alec90@hotmail.com,Cloud,GCP,2
4,Kristine Wright,"Bryan, Hendricks and Wood",inguyen@rogers.info,Software Dev,NodeJS,3
...,...,...,...,...,...,...
95,Gerald Gutierrez,Williams LLC,gilbertrichard@gmail.com,Software Dev,NodeJS,1
96,Ethan Davis,Randall LLC,nsmith@yahoo.com,Data,Spark,5
97,Jason Wheeler,"Perez, Porter and King",robersonkelly@mitchell.com,Cloud,AWS,3
98,Christina Williamson,Gutierrez Group,marissajones@gmail.com,Data,Hadoop,2
99,Victoria Avila,Howard and Sons,dthompson@singh-roberts.com,Cloud,Azure,2